# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js Dependencies
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Editor & System Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Django-specific ignores
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# Backend-specific directories
management/

# Mac & Linux
*.swp
*~
